extends template.jade

block content
	.content-wrapper
		include incl-sidebars
		section.main-info
			.top-menu
				li
					a(href="") Главная страница
				li
					a(href="") О проекте
				li
					a(href="") Об ассоциации
				li
					a(href="") Дать объявление
				li
					a(href="") Контакты
			.events
				.content-info
					h1 Культурные центры
					hr
					.event-culture
						.event-culture__item
							a(href="http://maxime-and-co.com/quid/item/culture/centres/rossijskij-centr-nauki-i-kultury/").event-culture__img
								img(src="http://maxime-and-co.com/wp-content/uploads/CRSC.jpg" alt="" class="alignright wp-post-image")
							.event-culture__txt
								a(href="http://maxime-and-co.com/quid/item/culture/centres/rossijskij-centr-nauki-i-kultury/").event-culture-lnk Российский центр науки и культуры
								p 
									strong Регион: Иль-де-Франс и Париж<br>
									| Адрес: 61, rue Boissiere<br>
									| 75116 Paris<br>
									| Тел.: 0144347979, 0144347974<br>
									| Email: 
									a(href="mailto:ruscentr@wanadoo.fr") ruscentr@wanadoo.fr<br>
									a(href="http://www.russiefrance.org" target="_blank") www.russiefrance.org
						.event-culture__item
							.event-culture__img
							.event-culture__txt
								a(href="http://maxime-and-co.com/quid/item/culture/centres/russkaya-konservatoriya-im-aleksandra-skryabina/").event-culture-lnk Русская консерватория им. Александра Скрябина
								p 
									strong Регион: Иль-де-Франс и Париж<br>
									| Адрес: 61, rue Boissiere<br>
									| 75116 Paris<br>
									| Тел.: 0144347963<br>
									| Email: 
									a(href="mailto:contact@conservatoire-russe.com") contact@conservatoire-russe.com<br>
									a(href="http://www.conservatoire-russe.com" target="_blank") www.conservatoire-russe.com
						.event-culture__item
							a(href="http://maxime-and-co.com/quid/item/culture/centres/rossijskij-centr-nauki-i-kultury/").event-culture__img
								img(src="http://maxime-and-co.com/wp-content/uploads/CRSC.jpg" alt="" class="alignright wp-post-image")
							.event-culture__txt
								a(href="http://maxime-and-co.com/quid/item/culture/centres/rossijskij-centr-nauki-i-kultury/").event-culture-lnk Российский центр науки и культуры
								p 
									strong Регион: Иль-де-Франс и Париж<br>
									| Адрес: 61, rue Boissiere<br>
									| 75116 Paris<br>
									| Тел.: 0144347979, 0144347974<br>
									| Email: 
									a(href="mailto:ruscentr@wanadoo.fr") ruscentr@wanadoo.fr<br>
									a(href="http://www.russiefrance.org" target="_blank") www.russiefrance.org
						.event-culture__item
							.event-culture__img
							.event-culture__txt
								a(href="http://maxime-and-co.com/quid/item/culture/centres/russkaya-konservatoriya-im-aleksandra-skryabina/").event-culture-lnk Русская консерватория им. Александра Скрябина
								p 
									strong Регион: Иль-де-Франс и Париж<br>
									| Адрес: 61, rue Boissiere<br>
									| 75116 Paris<br>
									| Тел.: 0144347963<br>
									| Email: 
									a(href="mailto:contact@conservatoire-russe.com") contact@conservatoire-russe.com<br>
									a(href="http://www.conservatoire-russe.com" target="_blank") www.conservatoire-russe.com
