extends template.jade

block content
	.content-wrapper
		include incl-sidebars
		section.main-info
			.top-menu
				li
					a(href="") Главная страница
				li
					a(href="") О проекте
				li
					a(href="") Об ассоциации
				li
					a(href="") Дать объявление
				li
					a(href="") Контакты
			.top-lnk
				a(href="#maxime-events") Мероприятия « Maxime &amp; Co »
				a(href="#paris-events") Русские события в Париже
				a(href="#regions-events") Русские события в провинции
				| |
				a(href="/archive/") Архив
			img(src="img/banner-novyi-god1.jpg", alt="")
			.events
				h2 Русские события в Париже
				hr
				.event-item
					h3 Концерты
					.event-sm
						.event-date 8 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Saison-de-No--l-90.jpg", alt="")
							span Праздничный Рождественский концерт
							p Детская ёлка и концерт русского романса в Антони с ассоциацией Франко-русский МИР
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date 12 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Ансамбль «Балалайка» и квартет «Байкал»
							p Рождественский концерт в мэрии 15 округа Парижа
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date 14 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Денис Гроцкий, фортепиано
							p Серия концертов в Парижском регионе
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					a(href="/paris/concerts/").event-section-lnk Все мероприятия
				.event-item
					h3 Семинары, конференции, встречи
					.event-sm
						.event-date 8 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Saison-de-No--l-90.jpg", alt="")
							span Праздничный Рождественский концерт
							p Детская ёлка и концерт русского романса в Антони с ассоциацией Франко-русский МИР
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date 12 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Ансамбль «Балалайка» и квартет «Байкал»
							p Рождественский концерт в мэрии 15 округа Парижа
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date Занятия по средам и субботам
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Денис Гроцкий, фортепиано
							p Серия концертов в Парижском регионе
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					a(href="/paris/concerts/").event-section-lnk Все мероприятия
				.event-item
					h3 Выставки
					.event-sm
						.event-date 8 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Saison-de-No--l-90.jpg", alt="")
							span Праздничный Рождественский концерт
							p Детская ёлка и концерт русского романса в Антони с ассоциацией Франко-русский МИР
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date 12 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Ансамбль «Балалайка» и квартет «Байкал»
							p Рождественский концерт в мэрии 15 округа Парижа
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date Занятия по средам и субботам
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Денис Гроцкий, фортепиано
							p Серия концертов в Парижском регионе
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					a(href="/paris/concerts/").event-section-lnk Все мероприятия
				.event-item
					h3 Театры, фестивали
					.event-sm
						.event-date 8 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Saison-de-No--l-90.jpg", alt="")
							span Праздничный Рождественский концерт
							p Детская ёлка и концерт русского романса в Антони с ассоциацией Франко-русский МИР
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date 12 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Ансамбль «Балалайка» и квартет «Байкал»
							p Рождественский концерт в мэрии 15 округа Парижа
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date Занятия по средам и субботам
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Денис Гроцкий, фортепиано
							p Серия концертов в Парижском регионе
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					a(href="/paris/concerts/").event-section-lnk Все мероприятия
				.event-item
					h3 Театры, фестивали
					.event-sm
						.event-date 8 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Saison-de-No--l-90.jpg", alt="")
							span Праздничный Рождественский концерт
							p Детская ёлка и концерт русского романса в Антони с ассоциацией Франко-русский МИР
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date 12 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Ансамбль «Балалайка» и квартет «Байкал»
							p Рождественский концерт в мэрии 15 округа Парижа
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date Занятия по средам и субботам
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Денис Гроцкий, фортепиано
							p Серия концертов в Парижском регионе
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					a(href="/paris/concerts/").event-section-lnk Все мероприятия
				.event-item
					h3 Для детей
					.event-sm
						.event-date 8 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Saison-de-No--l-90.jpg", alt="")
							span Праздничный Рождественский концерт
							p Детская ёлка и концерт русского романса в Антони с ассоциацией Франко-русский МИР
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date 12 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Ансамбль «Балалайка» и квартет «Байкал»
							p Рождественский концерт в мэрии 15 округа Парижа
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date Занятия по средам и субботам
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Денис Гроцкий, фортепиано
							p Серия концертов в Парижском регионе
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					a(href="/paris/concerts/").event-section-lnk Все мероприятия
				.event-item
					h3 Праздники, вечера, дискотеки
					.event-sm
						.event-date 8 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Saison-de-No--l-90.jpg", alt="")
							span Праздничный Рождественский концерт
							p Детская ёлка и концерт русского романса в Антони с ассоциацией Франко-русский МИР
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date 12 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Ансамбль «Балалайка» и квартет «Байкал»
							p Рождественский концерт в мэрии 15 округа Парижа
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date Занятия по средам и субботам
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Денис Гроцкий, фортепиано
							p Серия концертов в Парижском регионе
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					a(href="/paris/concerts/").event-section-lnk Все мероприятия
				a(href="/paris/concerts/").event-all-lnk Все мероприятия
			.events
				h2.red Русские мероприятия в провинции
				hr
				.event-item
					.event-sm
						.event-date EGUILLES (13)<br>29 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Saison-de-No--l-90.jpg", alt="")
							span Праздничный Рождественский концерт
							p Детская ёлка и концерт русского романса в Антони с ассоциацией Франко-русский МИР
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date ГАСТРОЛИ<br>C 9 ноября по 29 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Ансамбль «Балалайка» и квартет «Байкал»
							p Рождественский концерт в мэрии 15 округа Парижа
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date NICE (06)
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Денис Гроцкий, фортепиано
							p Серия концертов в Парижском регионе
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date ГАСТРОЛИ<br>C 18 февраля по 7 мая 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Saison-de-No--l-90.jpg", alt="")
							span Праздничный Рождественский концерт
							p Детская ёлка и концерт русского романса в Антони с ассоциацией Франко-русский МИР
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date 12 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Ансамбль «Балалайка» и квартет «Байкал»
							p Рождественский концерт в мэрии 15 округа Парижа
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date Занятия по средам и субботам
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Денис Гроцкий, фортепиано
							p Серия концертов в Парижском регионе
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date 8 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Saison-de-No--l-90.jpg", alt="")
							span Праздничный Рождественский концерт
							p Детская ёлка и концерт русского романса в Антони с ассоциацией Франко-русский МИР
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date 12 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Ансамбль «Балалайка» и квартет «Байкал»
							p Рождественский концерт в мэрии 15 округа Парижа
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date Занятия по средам и субботам
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Денис Гроцкий, фортепиано
							p Серия концертов в Парижском регионе
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date 8 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Saison-de-No--l-90.jpg", alt="")
							span Праздничный Рождественский концерт
							p Детская ёлка и концерт русского романса в Антони с ассоциацией Франко-русский МИР
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date 12 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Ансамбль «Балалайка» и квартет «Байкал»
							p Рождественский концерт в мэрии 15 округа Парижа
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date Занятия по средам и субботам
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Денис Гроцкий, фортепиано
							p Серия концертов в Парижском регионе
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date 8 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Saison-de-No--l-90.jpg", alt="")
							span Праздничный Рождественский концерт
							p Детская ёлка и концерт русского романса в Антони с ассоциацией Франко-русский МИР
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date 12 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Ансамбль «Балалайка» и квартет «Байкал»
							p Рождественский концерт в мэрии 15 округа Парижа
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date Занятия по средам и субботам
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Денис Гроцкий, фортепиано
							p Серия концертов в Парижском регионе
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date 8 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Saison-de-No--l-90.jpg", alt="")
							span Праздничный Рождественский концерт
							p Детская ёлка и концерт русского романса в Антони с ассоциацией Франко-русский МИР
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date 12 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Ансамбль «Балалайка» и квартет «Байкал»
							p Рождественский концерт в мэрии 15 округа Парижа
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date Занятия по средам и субботам
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Денис Гроцкий, фортепиано
							p Серия концертов в Парижском регионе
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date 8 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Saison-de-No--l-90.jpg", alt="")
							span Праздничный Рождественский концерт
							p Детская ёлка и концерт русского романса в Антони с ассоциацией Франко-русский МИР
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date 12 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Ансамбль «Балалайка» и квартет «Байкал»
							p Рождественский концерт в мэрии 15 округа Парижа
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
					.event-sm
						.event-date Занятия по средам и субботам
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Денис Гроцкий, фортепиано
							p Серия концертов в Парижском регионе
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше
				a(href="/paris/concerts/").event-all-lnk Все мероприятия
