extends template.jade

block content
	.content-wrapper
		aside.menu-info
			h4 Полезные адреса
			a(href="http://maxime-and-co.com/support/").support
				img(src="img/support.png", alt="")
			a(href="http://maxime-and-co.com/actualites/20-let-raboty/" target="_blank")
				img(src="http://maxime-and-co.com/wp-content/uploads/Baner-20-let-2.gif", alt="")
			.left-menu
				dl
					dt
						a(href="/") Посольства
					dd
						ul
							li
								a(href="/item/ambassades/ambassade-russe/") Представительства России во Франции
							li
								a(href="/item/ambassades/ambassade-sng/") Представительства стран СНГ во Франции
							li
								a(href="/item/ambassades/ambassade-francais/") Представительства Франции в России
					dt
						a(href="/") Церкви
					dd
						ul
							li
								a(href="/item/eglises/eglises-paris/") В Париже
							li
								a(href="/item/eglises/eglises-banlieu/") В пригородах Парижа
							li
								a(href="/item/eglises/eglises-province/") В провинции
					dt
						a(href="/") Сайты
					dd
						ul
							li
								a(href="/item/sites/sites-russes/") Русские сайты во Франции
							li
								a(href="/item/sites/sites-francais/") Французские сайты в России
			a(href="http://maxime-and-co.com/pereselenie/")
				img(src="http://maxime-and-co.com/wp-content/themes/Max2/banners/pereselenie.gif", alt="")
		aside.banners-info
			h4 Подписаться на рассылку
			.subscribe
				p Введите адрес вашей почты:
				form(action="")
					input(type="text" name="" class="inp-subscribe")
					input(type="submit" value="" class="submit-subscribe")
				a(href="http://maxime-and-co.com/newsletters-details/") Подробности »
				a(href="javascript:void(0)" onclick="subscribe('subscribe_input_email',0,'RU')") Отказаться »
			a(href="http://www.russiefrance.org/ru/index.html" target="_blank")
				img(src="http://maxime-and-co.com/wp-content/themes/Max2/banners/rcnk.gif", alt="")
			a(href="http://maxime-and-co.com/gallery/")
				img(src="http://maxime-and-co.com/wp-content/themes/Max2/banners/photo-gallery.gif", alt="")
			a(href="http://maxime-and-co.com/narodnoe-tvorchestvo/")
				img(src="http://maxime-and-co.com/wp-content/themes/Max2/banners/livres.gif", alt="")
			a(href="http://maxime-and-co.com/turistam/")
				img(src="http://maxime-and-co.com/wp-content/themes/Max2/banners/tourisme.gif", alt="")
			.russian-observer
				h4 Русский очевидец
				.info-list
					img(src="/img/logo-rusoch.png", alt="")
			.news-sidebar
				h4 Новости
				.info-list
					.news-sidebar__item
						span.news-sidebar__date 4 декабря 2016 г.
						a(href="http://maxime-and-co.com/actualites/consecration-cathedrale/")
							img(src="http://maxime-and-co.com/wp-content/uploads/thumb_sobor-80.jpg", alt="")
							p Освящение патриархом Кириллом нового православного русского Свято-Троицкого собора в Париже
							span.news-sidebar-more подробнее
					.news-sidebar__item
						span.news-sidebar__date 4 декабря 2016 г.
						a(href="http://maxime-and-co.com/actualites/consecration-cathedrale/")
							img(src="http://maxime-and-co.com/wp-content/uploads/thumb_petel-12-2016-80.jpg", alt="")
							p Пастырский визит Святейшего Патриарха Московского и всея Руси Кирилла в Корсунскую епархию
							span.news-sidebar-more подробнее
					a(href="http://maxime-and-co.com/actualites/").news-sidebar__lnk Все новости
			a(href="http://maxime-and-co.com/church/")
				img(src="http://maxime-and-co.com/wp-content/themes/Max2/banners/church.gif" alt="church.gif")
			a(href="http://infos-russes.com/bulletin-representation-commerciale-russe/" target="_blank")
				img(src="http://maxime-and-co.com/wp-content/themes/Max2/banners/bulletin.jpg", alt="")
		section.main-info
			.top-menu
				li
					a(href="") Главная страница
				li
					a(href="") О проекте
				li
					a(href="") Об ассоциации
				li
					a(href="") Дать объявление
				li
					a(href="") Контакты
			.top-lnk
				a(href="#maxime-events") Мероприятия « Maxime &amp; Co »
				a(href="#paris-events") Русские события в Париже
				a(href="#regions-events") Русские события в провинции
				| |
				a(href="/archive/") Архив
			img(src="img/banner-novyi-god1.jpg", alt="")
			.events
				h2 Русские события в Париже
				hr
				.event-item
					h3 Концерты
					.event-sm
						.event-date 8 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Saison-de-No--l-90.jpg", alt="")
							span Праздничный Рождественский концерт
							p Детская ёлка и концерт русского романса в Антони с ассоциацией Франко-русский МИР
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date 12 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Ансамбль «Балалайка» и квартет «Байкал»
							p Рождественский концерт в мэрии 15 округа Парижа
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date 14 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Денис Гроцкий, фортепиано
							p Серия концертов в Парижском регионе
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					a(href="/paris/concerts/").event-section-lnk Все мероприятия »
				.event-item
					h3 Семинары, конференции, встречи
					.event-sm
						.event-date 8 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Saison-de-No--l-90.jpg", alt="")
							span Праздничный Рождественский концерт
							p Детская ёлка и концерт русского романса в Антони с ассоциацией Франко-русский МИР
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date 12 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Ансамбль «Балалайка» и квартет «Байкал»
							p Рождественский концерт в мэрии 15 округа Парижа
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date Занятия по средам и субботам
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Денис Гроцкий, фортепиано
							p Серия концертов в Парижском регионе
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					a(href="/paris/concerts/").event-section-lnk Все мероприятия »
				.event-item
					h3 Выставки
					.event-sm
						.event-date 8 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Saison-de-No--l-90.jpg", alt="")
							span Праздничный Рождественский концерт
							p Детская ёлка и концерт русского романса в Антони с ассоциацией Франко-русский МИР
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date 12 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Ансамбль «Балалайка» и квартет «Байкал»
							p Рождественский концерт в мэрии 15 округа Парижа
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date Занятия по средам и субботам
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Денис Гроцкий, фортепиано
							p Серия концертов в Парижском регионе
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					a(href="/paris/concerts/").event-section-lnk Все мероприятия »
				.event-item
					h3 Театры, фестивали
					.event-sm
						.event-date 8 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Saison-de-No--l-90.jpg", alt="")
							span Праздничный Рождественский концерт
							p Детская ёлка и концерт русского романса в Антони с ассоциацией Франко-русский МИР
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date 12 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Ансамбль «Балалайка» и квартет «Байкал»
							p Рождественский концерт в мэрии 15 округа Парижа
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date Занятия по средам и субботам
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Денис Гроцкий, фортепиано
							p Серия концертов в Парижском регионе
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					a(href="/paris/concerts/").event-section-lnk Все мероприятия »
				.event-item
					h3 Театры, фестивали
					.event-sm
						.event-date 8 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Saison-de-No--l-90.jpg", alt="")
							span Праздничный Рождественский концерт
							p Детская ёлка и концерт русского романса в Антони с ассоциацией Франко-русский МИР
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date 12 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Ансамбль «Балалайка» и квартет «Байкал»
							p Рождественский концерт в мэрии 15 округа Парижа
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date Занятия по средам и субботам
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Денис Гроцкий, фортепиано
							p Серия концертов в Парижском регионе
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					a(href="/paris/concerts/").event-section-lnk Все мероприятия »
				.event-item
					h3 Для детей
					.event-sm
						.event-date 8 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Saison-de-No--l-90.jpg", alt="")
							span Праздничный Рождественский концерт
							p Детская ёлка и концерт русского романса в Антони с ассоциацией Франко-русский МИР
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date 12 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Ансамбль «Балалайка» и квартет «Байкал»
							p Рождественский концерт в мэрии 15 округа Парижа
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date Занятия по средам и субботам
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Денис Гроцкий, фортепиано
							p Серия концертов в Парижском регионе
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					a(href="/paris/concerts/").event-section-lnk Все мероприятия »
				.event-item
					h3 Праздники, вечера, дискотеки
					.event-sm
						.event-date 8 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Saison-de-No--l-90.jpg", alt="")
							span Праздничный Рождественский концерт
							p Детская ёлка и концерт русского романса в Антони с ассоциацией Франко-русский МИР
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date 12 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Ансамбль «Балалайка» и квартет «Байкал»
							p Рождественский концерт в мэрии 15 округа Парижа
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date Занятия по средам и субботам
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Денис Гроцкий, фортепиано
							p Серия концертов в Парижском регионе
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					a(href="/paris/concerts/").event-section-lnk Все мероприятия »
				a(href="/paris/concerts/").event-all-lnk Все мероприятия »
			.events
				h2 Русские события в Париже
				.event-item
					.event-sm
						.event-date EGUILLES (13)<br>29 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Saison-de-No--l-90.jpg", alt="")
							span Праздничный Рождественский концерт
							p Детская ёлка и концерт русского романса в Антони с ассоциацией Франко-русский МИР
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date ГАСТРОЛИ<br>C 9 ноября по 29 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Ансамбль «Балалайка» и квартет «Байкал»
							p Рождественский концерт в мэрии 15 округа Парижа
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date NICE (06)
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Денис Гроцкий, фортепиано
							p Серия концертов в Парижском регионе
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date ГАСТРОЛИ<br>C 18 февраля по 7 мая 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Saison-de-No--l-90.jpg", alt="")
							span Праздничный Рождественский концерт
							p Детская ёлка и концерт русского романса в Антони с ассоциацией Франко-русский МИР
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date 12 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Ансамбль «Балалайка» и квартет «Байкал»
							p Рождественский концерт в мэрии 15 округа Парижа
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date Занятия по средам и субботам
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Денис Гроцкий, фортепиано
							p Серия концертов в Парижском регионе
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date 8 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Saison-de-No--l-90.jpg", alt="")
							span Праздничный Рождественский концерт
							p Детская ёлка и концерт русского романса в Антони с ассоциацией Франко-русский МИР
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date 12 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Ансамбль «Балалайка» и квартет «Байкал»
							p Рождественский концерт в мэрии 15 округа Парижа
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date Занятия по средам и субботам
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Денис Гроцкий, фортепиано
							p Серия концертов в Парижском регионе
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date 8 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Saison-de-No--l-90.jpg", alt="")
							span Праздничный Рождественский концерт
							p Детская ёлка и концерт русского романса в Антони с ассоциацией Франко-русский МИР
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date 12 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Ансамбль «Балалайка» и квартет «Байкал»
							p Рождественский концерт в мэрии 15 округа Парижа
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date Занятия по средам и субботам
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Денис Гроцкий, фортепиано
							p Серия концертов в Парижском регионе
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date 8 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Saison-de-No--l-90.jpg", alt="")
							span Праздничный Рождественский концерт
							p Детская ёлка и концерт русского романса в Антони с ассоциацией Франко-русский МИР
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date 12 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Ансамбль «Балалайка» и квартет «Байкал»
							p Рождественский концерт в мэрии 15 округа Парижа
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date Занятия по средам и субботам
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Денис Гроцкий, фортепиано
							p Серия концертов в Парижском регионе
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date 8 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Saison-de-No--l-90.jpg", alt="")
							span Праздничный Рождественский концерт
							p Детская ёлка и концерт русского романса в Антони с ассоциацией Франко-русский МИР
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date 12 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Ансамбль «Балалайка» и квартет «Байкал»
							p Рождественский концерт в мэрии 15 округа Парижа
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date Занятия по средам и субботам
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Денис Гроцкий, фортепиано
							p Серия концертов в Парижском регионе
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date 8 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Saison-de-No--l-90.jpg", alt="")
							span Праздничный Рождественский концерт
							p Детская ёлка и концерт русского романса в Антони с ассоциацией Франко-русский МИР
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date 12 января 2017 г.
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Ансамбль «Балалайка» и квартет «Байкал»
							p Рождественский концерт в мэрии 15 округа Парижа
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					.event-sm
						.event-date Занятия по средам и субботам
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/")
							img(src="img/thumb_Ensemble-Balalaika-Micha-Tcherkassky-Mor--e-2016-90.jpg", alt="")
							span Денис Гроцкий, фортепиано
							p Серия концертов в Парижском регионе
						a(href="/paris/concerts/prazdnichnyj-rozhdestvenskij-koncert-2/").read читать дальше »
					a(href="/paris/concerts/").event-section-lnk Все мероприятия »
				a(href="/paris/concerts/").event-all-lnk Все мероприятия »
