doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Ambassade Russe &raquo; Maxime and Co: Русские в Париже. Русские во Франции. Обо всем русском во Франции
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/maxime.css")
	body
		.main-content
			header
				.wrapper
					a(href="http://maxime-and-co.com").logo
						img(src="img/maxime_logo.png", alt="")
					.header-banners
						.top-search
							form(action="")
								input(type="search", name="")
								input(type="submit", value="")
						a(href="http://infos-russes.com").info-banner
							img(src="img/version_francais.png", alt="")
						a(href="").petites-annonces Частные объявления
			.wrapper
				main
					block content

		footer
			.wrapper
				p &copy; 2004–2017 «Maxime &amp; Co», Дизайн и разработка сайта — <a href="http://shweb.pro/" title="Studio Shweb" target="_blank">Studio Shweb</a>, Художник — <a href="http://www.alexiybudya.com/" title="Alexiy Budya" target="_blank">Alexiy Budya</a>
