extends template.jade

block content
	.content-wrapper
		include incl-sidebars
		section.main-info
			.top-menu
				li
					a(href="") Главная страница
				li
					a(href="") О проекте
				li
					a(href="") Об ассоциации
				li
					a(href="") Дать объявление
				li
					a(href="") Контакты
			.top-lnk
				a(href="http://maxime-and-co.com") Главная страница
				span.str
				a(href="http://maxime-and-co.com/paris/conferences/") Семинары, конференции, встречи
			.events
				h1 Уроки православной иконографии
				.events-info
					a(href="http://maxime-and-co.com/wp-content/uploads/Pliant-RUSSE-1.jpg")
						img(src="http://maxime-and-co.com/wp-content/uploads/Pliant-RUSSE-1.jpg" alt="" class="alignright size-full wp-image-46760"  width="300" height="225" srcset="http://maxime-and-co.com/wp-content/uploads/Pliant-RUSSE-1.jpg 300w, http://maxime-and-co.com/wp-content/uploads/Pliant-RUSSE-1-150x113.jpg 150w" sizes="(max-width: 300px) 100vw, 300px")
					h5 Уроки православной иконографии при кафедральном соборе святого Александра Невского в Париже
					p Свято-Александро-Невский кафедральный собор 12, rue Daru – 75008 Paris
					p Программа занятий по иконографии, предлагаемая школой представляет собой параллельное преподавание основ теории и практики иконописи. В рамках предлагаемой программы, студентам будет предоставлена возможность поэтапно освоить искусство иконы с еe многими уровнями.
					p Занятия адресованы всем, кто имеет желание углубить свои познания Церковной Традиции, обогатить, при помощи церковного искусства, свою веру и духовную жизнь.
					p 
						strong Уроки проходят под руководством Матфея&nbsp;Лещинского, 
						| дипломированного православного&nbsp;иконописца, окончившего Высшую Иконописную&nbsp;Школу в Бельске-Подлесском (Польша), а также&nbsp;Православную Варшавскую Семинарию и Саято-Сергиевский Православный Парижский Институт,&nbsp;автора многих икон и фресок, которые он написал&nbsp;для храмов Польши, Франции и других стран&nbsp;Европы.*&nbsp;*(с каталогом и порт-фолио Матфея Лещинского можно ознакомится на сайте: 
						a(href="http://www.ikonnik.fr" target="_blank") www.ikonnik.fr
					p 
						strong Занятия проходят два раза в неделю <br>
						| суббота с 11.00 до 16.00, перерыв на&nbsp;совместный обед (13.00 – 14.00). <br>
						| среда с 14.00 до 18.00 <br>
						| *время занятий может быть модифицировано,&nbsp;согласно потребностям учеников <br>
						| Уроки проводятся на двух языках :&nbsp;французском и русском <br>
						| Оплата обучения следующего&nbsp;семестрального цикла&nbsp;* 500 EUR *
					p 
						strong КОНТАКТЫ <br>
						a(href="mailto:ecole.iconographie@gmail.com") ecole.iconographie@gmail.com <br>
						| тел. 06 66 98 57 49
					.share-info
						| Сюда всякие ссылки
					a(href="#")#toTop Наверх
