body {
	width: 100%;
	height: 100vh;
	font-size: 16px;
	line-height: 1;
	min-width: 1100px;
	font-family: Arial, Helvetica;
	background: #fff url('../img/main_bg.jpg') repeat-x;
}
.main-content {
	min-height: -webkit-calc(100vh - 20px);
	min-height: -moz-calc(100vh - 20px);
	min-height: calc(100vh - 20px);
	position: relative;
}
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 980px;
	position: relative;
}
p,
h1,
h2,
h3,
h4 {
	margin: 0;
	padding: 0;
}
p {
	line-height: 20px;
	margin-bottom: 17px;
}
h2 {
	text-align: center;
	font-size: 16px;
	color: #2354ba;
}
h3 {
	text-align: center;
	color: #2354ba;
	font-size: 14px;
}
h4 {
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	background: url(../img/menu_headitem_blue.jpg) 0 0 repeat-x;
	height: 26px;
	line-height: 26px;
	text-align: center;
}
a {
	text-decoration: none;
}
ul, ol {
	li {
		line-height: 27px;
	}
}

header {
	background: url(../img/header_bg.jpg) 50% 0 no-repeat;
	height: 131px;
	overflow: hidden;
}
.logo {
	display: block;
	padding-top: 20px;
	margin: 0 20px 20px;
	float: left;
}
.header-banners {
	float: right;
	width: 222px;
}
.top-search {
	overflow: hidden;
	background: url(../img/search_bar_bg.jpg) 0 0 no-repeat;
	width: 221px;
	height: 26px;
	padding: 4px 0 0 8px;
	margin-bottom: 1px;
	box-sizing: border-box;
	input[type=search] {
		width: 151px;
		height: 19px;
		margin-right: 8px;
		float: left;
		border: 0;
		font-size: 12px;
		padding: 0 3px;
		box-sizing: border-box;
	}
	input[type=submit] {
		background: url(../img/search_button.jpg) 0 0 no-repeat;
		width: 42px;
		height: 16px;
		float: left;
		border: 0;
		cursor: pointer;
		margin-top: 1px;
	}
}
.petites-annonces {
	display: block;
	background: url(../img/petites-annonces1.png) 50% 0 no-repeat;
	color: #f00;
	height: 40px;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	text-decoration: underline;
}
.info-banner {
	display: block;
}
main {
	box-shadow: -5px 5px 10px #d6d6de, 5px 5px 10px #d6d6de;
	border: 3px solid #fff;
	border-top: 0;
	margin-top: 6px;
	padding-bottom: 100px;
	border-radius: 3px;
	background: #fff url(../img/bottom_gradient.jpg) 0 100% repeat-x;
}
.top-lnk {
	margin: 10px 0;
	text-align: center;
	a {
		font-size: 11px;
		padding: 0 5px;
	}
}
footer {
	text-align: center;
	p {
		font-size: 12px;
		margin: 0;
	}
}
.content-wrapper {
	overflow: hidden;
}
.menu-info {
	float: left;
	width: 160px;
	padding-top: 3px;
}
.support {
	display: block;
	margin: 6px 0;
}
.banners-info {
	width: 220px;
	float: right;
	padding-top: 3px;
}
.subscribe {
	border: 1px solid #ececec;
	border-top: 0;
	border-radius: 0 0 3px 3px;
	margin-bottom: 3px;
	overflow: hidden;
	padding: 0 5px 5px;
	text-align: center;
	p {
		font-size: 12px;
		color: #2656ab;
		margin-bottom: 0;
		text-align: center;
	}
	a {
		font-size: 11px;
		padding: 0 10px;
	}
}
.inp-subscribe {
	float: left;
	width: 120px;
	border: 1px solid #b3b2b8;
	height: 18px;
	margin-right: 8px;
	font-size: 12px;
	padding: 0 3px;
	box-sizing: border-box;
}
.submit-subscribe {
	float: left;
	width: 78px;
	border: 0;
	margin-top: 1px;
	cursor: pointer;
	background: url(/img/subscribe_button.jpg) 0 0 no-repeat;
}
.info-list {
	border: 1px solid #ececec;
	border-top: 0;
	border-radius: 0 0 3px 3px;
	margin-bottom: 3px;
	overflow: hidden;
	padding: 0 5px 5px;
}
.news-sidebar {
	&__date {
		font-size: 10px;
	}
	&__item {
		margin-bottom: 5px;
		img {
			float: left;
			margin-right: 5px;
		}
		p {
			font-size: 12px;
			line-height: 1;
			color: #000;
			&:hover {
				text-decoration: underline;
			}
		}
		a {
			display: block;
		}
	}
	p {
		margin: 0;
	}
	&__lnk {
		font-size: 12px;
	}
}
.news-sidebar-more {
	font-size: 10px;
	position: relative;
	display: block;
	text-align: right;
	padding-right: 10px;
	color: #2656ab;
	&:after {
		content: '\203A';
		position: absolute;
		color: #2656ab;
		font-size: 11px;
		top: -1px;
		right: 5px;
	}
	&:hover {
		text-decoration: underline;
	}
}
.main-info {
	margin: 0 230px 0 170px;
	padding-top: 3px;
	overflow: hidden;
}
.top-menu {
	background: url(../img/menu_headitem_red.jpg) 0 0 repeat-x;
	height: 26px;
	overflow: hidden;
	text-align: center;
	li {
		list-style: none;
		display: inline-block;
		font-size: 12px;
		font-weight: 700;
		line-height: 26px;
		&:last-child a {
			border: 0;
		}
	}
	a {
		color: #fff;
		font-size: 12px;
		padding-right: 4px;
		border-right: 1px solid #fff;
		&:hover {
			text-decoration: underline;
		}
	}
}
.left-menu {
	dt {
		background: #2656ab url('../img/lsb_pointer_right.jpg') 0 50% no-repeat;
		height: 23px;
		a {
			font-size: 14px;
			color: #E6EAF6;
		}
	}
	dd {
		padding: 0;
		margin: 0;
	}
	ul {
		padding: 0;
		margin: 0;
		background-color: #f4f4f6;
	}
	li {
		list-style: none;
		padding: 0;
		margin: 0;
		line-height: 1;
		a {
			font-size: 13px;
			font-weight: 700;
			&:hover {
				color: #f00;
			}
		}
	}
}
.events {
	background: url(../img/gradient_news_block.jpg) 0 2px repeat-x;
	box-shadow: inset 0 0 0 3px #fff;
	border-radius: 3px;
	border: 1px solid rgb(226, 228, 227);
	padding-top: 5px;
	margin-bottom: 5px;
	hr {
		margin: 5px auto 3px;
		border: 0;
		border-top: 1px solid #e1e2e4;
		border-bottom: 1px solid #fcfdff;
		width: 540px;
	}
}
.event-item {
	overflow: hidden;
	margin-bottom: 5px;
	background: url(../img/subcat_title_grad.jpg) 0 0 repeat-x;
	border-right: 2px solid #fff;
	border-left: 2px solid #fff;
	padding-top: 2px;
}
.event-date {
	font-size: 12px;
	margin-bottom: 3px;
}
.event-sm {
	width: 49%;
	float: left;
	margin: 5px 0 5px 5px;
	padding-right: 5px;
	box-sizing: border-box;
	img {
		float: left;
		margin-right: 5px;
	}
	a {
		font-size: 13px;
		color: #000;
		span {
			font-weight: 700;
			line-height: 1;
			display: block;
			margin-bottom: 5px;
		}
		&:hover {
			span {
				text-decoration: underline;
			}
		}
	}
	p {
		font-weight: 400;
		line-height: 1;
		font-size: 12px;
		margin: 0;
	}
	.read {
		font-size: 10px;
		float: right;
		color: #2354ba;
		&:hover {
			text-decoration: underline;
		}
	}
}
.event-section-lnk {
	clear: both;
	display: block;
	text-align: right;
	font-size: 12px;
}
.event-all-lnk {
	display: block;
	text-align: right;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	padding-right: 20px;
	background: url(../img/bottom_newsblock_gradient.jpg) 100% 0 repeat-y;
	border: 2px solid #fff;
}
